body::before{
    display: block;
    content: '';
    height: 72px;
}
/* Breakpoint for medium */

@media(min-width: 768px){
    .container .news-input{
        width: 50%;
    }
}
#instructors img{
    background-color: rgb(216, 216, 216);
    width: 150px;
}